node_modules
grpc-server/DAO/CONFIGS/*
# Archivos y directorios generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.swo
*.swn
*.swn.swo
*.vscode/
.vscode/
.vscode-server/
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.swo
*.swn
*.swn.swo
*.vscode/
*.vscode-server/
__pycache__/
*.egg-info/
dist/
build/

